<div class="row thumbnail col-sm-offset-2 col-sm-8">
  <div class="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROJkWG7M09pkQs1mttmnmKuYl1ebsBaOh2EBZbGOO26pIHbi9AHw" alt="" class="col-sm-2" />
  </div>
  <div class="col-sm-8">
    <p><%= link_to company.name, company_path(company) %></p>
    <p>Phone: 0505050505</p>
    <p>Address: some_street 98/2</p>
    <p>email: somecompany@gmail.com</p>
  </div>
  <div class="col-sm-2"></div>
</div>